<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.v7lin.link_kit">

    <application>
        <activity
            android:name=".LinkCallbackActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/link_kit.Theme.Transparent">
            <!-- Deep Link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- scheme 为必选项，可自定义，可定义多个 -->
                <!--<data android:scheme="flk"/>-->
                <!--<data android:scheme="flks"/>-->
                <data android:scheme="${DEEP_LINK_SCHEME}"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
